.admCont{
  display: flex;
  gap: .5rem;
  justify-content: center;
}

/* style={{padding:"1rem",display:"flex", justifyContent:"center" ,gap:"1rem"}} */
.logoCel{
  display: none;
}
@media (max-width: 768px) {
  .admCont{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    height: 100vh;
    justify-content: center;
    gap: 1.5rem;
  }
  .admCont > button {
  width: 90%;
  }
  .admCont > button:hover {
    width: 90%;
    }
.logoCel{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 50%;
  display: block;
}
}